.filling-alert {
    display: grid;
    justify-content: center;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 7%;
}

.filling-alert__box {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    box-sizing: border-box;
    width: 70%;
    place-self: center;
    border: 5px solid black;
}